$colors: indigo, gray, green, blue, red, purple;

.close-icon {
    color: white;
    cursor: pointer;
}

.color-block {
    display: flex;
    column-gap: 2px;

    @each $color in $colors {
        .#{$color}-label {
            background-color: $color;
            width: 25px;
            height: 1.5rem;
            border-radius: 9999px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}